*
{
    font-family: century gothic, calibri, comic sans ms;
    font-size: 17px;
    list-style-type: none;
    text-align: justify;
    margin: 0;
    padding: 0;
}

h1
{
    color: white;
    font-size: 40px;
    font-family: Cambria, comic sans ms;
    line-height: 50px;
}

h2
{
    font-size: 25px;
    line-height: 50px;
}

h3
{
    text-align: center;
    padding: 20px 0px;
    color: #19526F;
    font-size: 28px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.titre
{
    font-weight: bold;
}

.sousTitre
{
    font-style: italic;
}

a
{
    text-decoration: none;
    color: white;
    padding: 0px 8px;
}

a:hover
{
    color: cadetblue;
    border-bottom: 1px solid cadetblue;
}

.logo
{
    height: 28px;
}

.logoCont
{
    width: 22px;
}

header
{
    background-image: url(img/entete.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#enTete
{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}

#intro
{
    color: white;
    margin-left: 85px;
}

#contacts
{
    color: white;  
    line-height: 30px;
    margin-right: 90px;
    margin-top: 40px;
}

#contact
{
    font-size: 18px;
    text-align: right;
}

#photo
{
    width: 300px;
}

.maPhoto
{
    width: 300px;
    border-radius: 1000px;
    border: 5px solid white;
    margin: 20px 0px;
}

#navigateur nav
{
    text-align: center;
    border-top: 1px solid #FFF;
    padding : 18px 0px;
}

#reconversion
{
    padding: 20px;
}

#rec
{
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}

.gauche
{
    text-align: right;
    border-right: 1px solid gray;
    padding-right: 20px;
    width: 50%;
    vertical-align: top;
}

.droite
{
    padding-left: 20px;
    padding-bottom: 20px;
}

.formexp
{
    padding: 20px;
}

.formexpT
{
    margin-top: 20px;
    border-collapse: collapse;
}

#bonus
{
    display: flex;
    flex-direction: row;
}

.bonus
{
    line-height: 30px;
    text-align: center;
    padding-top: 18px;
}

#competences
{
    width : 50%;
    margin: 20px;
}

#col
{
    column-count: 3;
    text-align: center;
}

.col
{
    text-align: center;
    line-height: 30px;
}

#centresInteret
{
    width : 50%;
    margin: 20px;
}

@media only screen and (max-width: 1100px)
{
    h1, h2, p
    {
        text-align: center;
    }
    
    header
    {
        width: 100%;
        background-image: url(img/entete.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #enTete
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #intro
    {
        margin: 0px;
        width: 100%;
        margin-top: 20px;
    }
    
    #contact
    {
        text-align: center;
    }
    
    #contacts
    {
        width: 100%;
        margin: 0px;
    }
    
    #navigateur nav
    {
        text-align: center;
        width: 100%;
    }
    
    #bonus
    {
        display: flex;
        flex-direction: column;
    }
    
    #competences, #centresInteret
    {
        width: auto;
    }    
}


    

